<!DOCTYPE html>
<html lang="es"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
    <meta name="author" content="Parodi, Marcos" />
	
	<title>PyP - Etiquetas</title>
	
	<link rel="stylesheet" type="text/css" media="all"
		th:href="@{/resources/bootstrap-3.3.4-dist/css/bootstrap.min.css}"
		href="../resources/bootstrap-3.3.4-dist/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" media="all"
		th:href="@{/resources/jquery-ui-1.11.4/jquery-ui.min.css}"
		href="../resources/jquery-ui-1.11.4/jquery-ui.min.css" />
	<link rel="stylesheet" type="text/css" media="all"
		th:href="@{/resources/css/etiquetas.css}"
		href="../resources/css/etiquetas.css" />
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
              		<span class="icon-bar"></span>
              		<span class="icon-bar"></span>
              		<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">PyP</a>
				</div>

				<div class="collapse navbar-collapse" id="navbar">
					<ul class="nav navbar-nav">
						<li class="active"><a href="./programacion">Programación <span class="sr-only">(current)</span></a></li>
						<li><a href="./planificacion">Planificación</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/login?logout">Salir</a></li>
					</ul>
				</div>
			</div>
		</nav><!-- navbar -->

		<div class="jumbotron">
			<h1>Etiquetas</h1>
			<div class="row">
				<div class="columna">
					<textarea id="inputOts"></textarea>
					<button id="cargarOts">Cargar OT's</button>
					<button id="usadaTodas">Usadas Todas</button>
					<button id="usadaNinguna">Usadas Ninguna</button>
					<button id="usadaInvertir">Usadas Invertir</button>
					<button id="limpiar">Limpiar</button>
				</div>
				<div class="columna">
					<div class="posicion"></div>
					<div class="posicion"></div>
					<div class="posicion"></div>
					<div class="posicion"></div>
					<div class="posicion"></div>
				</div>
				<div class="columna">
					<div class="posicion"></div>
					<div class="posicion"></div>
					<div class="posicion"></div>
					<div class="posicion"></div>
					<div class="posicion"></div>
				</div>
			</div>
		</div>
	</div><!-- container -->

	<script th:src="@{/resources/jquery-2.1.3/jquery.min.js}"
		src="../resources/jquery-2.1.3/jquery.min.js"></script>
	<script th:src="@{/resources/jquery-ui-1.11.4/jquery-ui.min.js}"
		src="../resources/jquery-ui-1.11.4/jquery-ui.min.js"></script>
	<script th:src="@{/resources/bootstrap-3.3.4-dist/js/bootstrap.min.js}"
		src="../resources/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
	<script th:src="@{/resources/momentjs-2.10.2/moment-with-locales.min.js}"
		src="../resources/momentjs-2.10.2/moment-with-locales.min.js"></script>
	<script>
		// <![CDATA[
		$(function() {
			var otsCargadas = [],
				$posiciones = $( ".posicion" ),
				$inputOts = $( "#inputOts" ),
				$cargarOts = $( "#cargarOts" );
			
			$posiciones.droppable({
				accept: ".etiqueta",
				hoverClass: "posicion-hover",
				drop: function( event, ui ) {
					$( this ).append( ui.draggable.css({ left: 0, top: 0 }));
					$( this ).addClass( "posicion-usada" );
				}
			}).click( function() {
				$this = $( this );
				if ( $this.hasClass( "posicion-usada" ) )
					$this.removeClass( "posicion-usada" );
				else
					$this.addClass( "posicion-usada" );
			});

			$inputOts.focus()
				.on( "paste", function() {
					$cargarOts.focus();
			});
			
			$cargarOts.click( function() {
				
				var deferreds = [];
				
				$cargarOts.css({ cursor: "wait" });
				$( "button" ).addClass( "disabled" );
				$( "body" ).css({ cursor: "wait" });
				$inputOts
					.addClass( "disabled" )
					.val().split( "\n" )
					.forEach( function( ot ) {
						if ( ot != "" && ( otsCargadas.indexOf( ot ) == -1 ) ) {
							otsCargadas.push( ot );
							deferreds.push(
								$.get( "json/" + ot )
									.success( function( jsonOt ) {
										if ( jsonOt != "" )
											crearEtiqueta( jsonOt );
									})
							);
						}
					});

				$.when.apply( null, deferreds )
					.done( function() {
						$cargarOts.css({ cursor: "pointer" });
						$( "button" ).removeClass( "disabled" );
						$( "body" ).css({ cursor: "auto" });
						$inputOts.val("").removeClass( "disabled" );
					});
			});

			$( "#usadaTodas" ).click( function() {
				$posiciones.addClass( "posicion-usada" );
			});
			
			$( "#usadaNinguna" ).click( function() {
				$posiciones.removeClass( "posicion-usada" );
			});
			
			$( "#usadaInvertir" ).click( function() {
				$posiciones.each( function() {
					var $p = $( this );
					if ( $p.hasClass( "posicion-usada" ) )
						$p.removeClass( "posicion-usada" );
					else
						$p.addClass( "posicion-usada" );
				});
			});

			$( "#limpiar" ).click( function() {
				$( ".etiqueta" ).remove();
				$( ".posicion-usada" ).removeClass( "posicion-usada" );
				otsCargadas = [];
			});
			
			function crearEtiqueta( jsonOt ) {

				var $iconRemove = $( "<span class='text-danger glyphicon glyphicon-remove'>" )
					.css({ cursor: "pointer" })
					.click( function() {
						var $e = $( this ).parent().parent(),
							o = $e.data( "ot" ).toString(),
							index = otsCargadas.indexOf( o );

						otsCargadas.splice( index, 1 );
						$e.remove();
					})
					.hide();
				
				$( ".posicion:not(.posicion-usada)" ).first()
					.addClass( "posicion-usada" )
					.append($( "<div class='etiqueta'>" ).data( "ot", jsonOt.otId )
						.append($( "<div>" )
							.html( jsonOt.componente )
							.css({ "font-size": "1.3em" }))
						.append($( "<div>" )
							.html( jsonOt.otId ))
						.append($( "<div>" )
							.html( jsonOt.orgMant.orgMantId + " - " + jsonOt.orgMant.descripcion )
							.css({ "font-size": "0.5em" }))
						.append($( "<div>" )
							.css({ position: "absolute", top: "5px", right: "10px" })
							.append( $iconRemove ))
						.hover( function() {
								$iconRemove.show();
							} , function() {
								$iconRemove.hide();
							}
						)
						.draggable({
							revert: "invalid",
							containment: "document",
							cursor: "move",
							start: function( event, ui ) {
								$(this).parent().removeClass( "posicion-usada" );
							}
						})
					);
			}
		});

		// ]]>
	</script>
</body>
</html>