<!DOCTYPE html>
<html lang="es"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
    <meta name="author" content="Parodi, Marcos" />
	
	<title th:text="'PyP - Programación - S' + ${semana}">PyP - Programación - S1501</title>
	
	<link rel="stylesheet" type="text/css" media="all"
		th:href="@{/resources/bootstrap-3.3.4-dist/css/bootstrap.min.css}"
		href="../resources/bootstrap-3.3.4-dist/css/bootstrap.min.css" />
	<style>
	.row {
		margin-top : 40px
	}
	</style>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
              		<span class="icon-bar"></span>
              		<span class="icon-bar"></span>
              		<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">PyP</a>
				</div>

				<div class="collapse navbar-collapse" id="navbar">
					<ul class="nav navbar-nav">
						<li class="active"><a href="../programacion">Programación <span class="sr-only">(current)</span></a></li>
						<li><a href="./planificacion">Planificación</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/login?logout">Salir</a></li>
					</ul>
				</div>
			</div>
		</nav><!-- navbar -->

		<div class="jumbotron">
			<h1 th:text="'Semana ' + ${semana}">Semana 1501</h1>
			<h2 th:text="(${planta} == 2000) ? 'Unidad I' : 'Unidad II'">Unidad I</h2>
			<h3 th:text="(${estado} == 'normal') ? 'Serivicio normal' : 'Parada programada'">Serivicio normal</h3>
			<div class="row">
				<table class="table">
					<!-- <thead>
						<tr>
							<th>Ot</th>
							<th>Componente</th>
							<th>Prio.</th>
							<th>Mant.</th>
							<th>Tipo</th>
							<th>Tarea</th>
							<th>Planifica</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ot : *{ots}">
							<td th:text="*{ot.otId}" />
							<td th:text="*{ot.componente}" />
							<td th:text="*{ot.prioridad}" />
							<td th:text="*{ot.orgMant}" />
							<td th:text="*{ot.tipoTrabajo}" />
							<td th:text="*{ot.tarea}" />
							<td th:text="*{ot.planifica}" />
						</tr>
					</tbody> -->
					<thead>
						<tr>
							<th>Ot</th>
							<th>Observaciones</th>
							<th>Lu</th>
							<th>Ma</th>
							<th>Mi</th>
							<th>Ju</th>
							<th>Vi</th>
							<th>Sa</th>
							<th>Do</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ot : *{ots}">
							<td th:text="*{ot.id}" />
							<td th:text="*{ot.observaciones}" />
							<td th:class="(*{ot.lunes}) ? 'danger' : 'active'" />
							<td th:class="(*{ot.martes}) ? 'danger' : 'active'" />
							<td th:class="(*{ot.miercoles}) ? 'danger' : 'active'" />
							<td th:class="(*{ot.jueves}) ? 'danger' : 'active'" />
							<td th:class="(*{ot.viernes}) ? 'danger' : 'active'" />
							<td th:class="(*{ot.sabado}) ? 'danger' : ''" />
							<td th:class="(*{ot.domingo}) ? 'danger' : ''" />
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div><!-- container -->

	<script th:src="@{/resources/jquery-2.1.3/jquery.min.js}"
		src="../resources/jquery-2.1.3/jquery.min.js"></script>
	<script th:src="@{/resources/bootstrap-3.3.4-dist/js/bootstrap.min.js}"
		src="../resources/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
	<script th:src="@{/resources/momentjs-2.10.2/moment-with-locales.min.js}"
		src="../resources/momentjs-2.10.2/moment-with-locales.min.js"></script>
	<script th:src="@{/resources/js/jquery.programacionesXMes.js}"
		src="../resources/js/jquery.programacionesXMes.js"></script>
	<script th:src="@{/resources/js/programacion.js}"
		src="../resources/js/programacion.js"></script>
</body>
</html>